<h1><%= content_for(:title, "Create Note") %></h1>

<%= form_for @note, url: {action: "create"} do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= error_message_for(@note, :title) %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :type_of, "Type" %>
      <%= error_message_for(@note, :type_of) %>
      <%= f.select(:type_of, Note::TYPE_OPTIONS.to_a, {}, {class: "js-type form-control"}) %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= error_message_for(@note, :description) %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="js-deadline form-group hide clearfix">
      <%= f.label :deadline %>
      <div class="form-row clearfix">
        <%= error_message_for(@note, :deadline) %>
        <div class="col-md-4">
          <%= f.label :month %>
          <%= f.select(:month, (1..12).to_a, {}, {class: "form-control"}) %>
        </div>
        <div class="col-md-4">
          <%= f.label :day %>
          <%= f.select(:day, (1..31).to_a, {}, {class: "form-control"}) %>
        </div>
        <div class="col-md-4">
          <%= f.label :year %>
          <%= f.select(:year, (Time.now.year..(Time.now.year + 20)).to_a, {}, {class: "form-control"}) %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "Create", class: "btn btn-primary form-control" %>
    </div>


<% end %>

<%= link_to 'Back', notes_path, class: "btn btn-primary" %>


