<h1><%= content_for(:title, "Note: " + @note.title) %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Created</th>
    <th>Last Updated</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @note.title %></td>
    <td><%= @note.type_format(@note.type_of) %></td>
    <td><%= @note.description %></td>
    <td><%= @note.deadline %></td>
    <td><%= @note.format_date(@note.created_at) %></td>
    <td><%= @note.format_date(@note.updated_at) %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_note_path(@note), class: "btn btn-success" %> |
<%= link_to 'Back', notes_path, class: "btn btn-warning" %>
